/*footer ***********************************/
footer {
    padding: 6px 6%;
    background-color: #cf2e2e;

}

.footer-desktop {
    display: flex;
    color: #F1F1F1;
    justify-content: space-between;
    align-items: center;  
    flex-wrap: wrap; /* ultima alteração do dia*/  
    /* align-items: center;
    text-align: center; */
    margin: 2rem auto;
    max-width: 1280px;
    gap: 1.5rem;
}

footer .address i { /* Address Icons */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    /* background-color: #DE5056; */
    color: #FFDBDB;
    font-size: 1.6rem;
    margin-right: 0.5rem;
}

footer .address h5 {
    display: flex;
    align-items: center;
    color: #FFDBDB;
    font-size: 1rem;
    font-weight: normal;
}

footer .address hr { /* line address*/
    display: inline-block;
    height: 1px;
    width: 1px;
    border-left: 1px solid brown;
}

footer .social {
    display: flex;
    /* flex-direction: row; */
    gap: 0.8rem;
}

footer .social i { /* Social icons */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    background-color: #DE5056;
    color: #FFDBDB;
    border-radius: 100%;
    font-size: 1.6rem;
    margin-right: 0.8rem;
}

footer .copyright {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem auto;
}

footer hr {
    height: 1px;
    border: 0px;
    background-color: #A52A2A;
}

/* responsividade ******************************/

 @media (max-width: 500px) {
    .footer-desktop {
      flex-direction: column;
      gap: 2.2rem;
      }
      .logo, .social { /* logo e icones sociais*/
        display: flex;
        justify-content: center;
      }
    }
