
/*Reset icons ***********************************/

header {
  border-bottom: solid 2px #BD3A40;
  justify-content: center;
  
}

.desktop {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 4%;
}

header .menu {
  display: flex;
  height: 4.5rem;
  align-items: center;
  justify-content: space-between;

}

header .mobile{

  position: absolute;
  z-index: 1;

  line-height: 3.5rem;
  padding: 2rem 4%;
  display: none;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  background-color: #BD3A40;

  animation: slideInDown 0.30s ease-in-out;
}

/* Animação menu mobile*/
@keyframes slideInDown {
  from {
    opacity: 0; /* oculto */
    transform: translateY(-100%); /* Move the container 100% of its height above the viewport */
  }
  to {
    opacity: 1; /* visível */
    transform: translateY(0); /* Move the container to its original position */
  }
}
/**/

header .mobile p {

color: #fff;

}

header a {
  font-size: 18px;
  font-weight: normal;
  color: #333;
  display: inline-block;
}

header a:hover {
  color: #BD3A40;
  /* transform: scale(1.05);
  transition: .2s; */
}

header nav ul li {
  display: inline-block;
  padding: 0 20px;
}

/*Buttons nav*/
header .btn-reservar button {
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 400;
  background-color: #BD3A40;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

header .btn-call button {
  padding: 7.6px 10px;
  /*Espaço interno*/
  font-size: 16px;
  /*Tamanho fonte*/
  font-weight: 400;
  /*Negrito*/
  background-color: #BD3A40;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}


header .btn-menu-hamburger {
  border: solid 1px lightgrey;
  border-radius: 0.1rem;
  padding: 0.8rem;
  display: none;
  
}

header .btn-menu-hamburger a {
  display: flex;
  justify-content: center;
  color: brown;
  font-size: 1.5rem;
}

header .btn-menu-hamburger button a span {
  font-size: 1.5rem;
  font-weight: 600;
}

header .contato-nav {
  padding-left: 30px;
  display: flex;
  gap: 15px;
  ;
}

/* responsividade ******************************/

@media (max-width: 1020px) {
    header .menu ul {
        display: none;
      }
     .btn-reservar{
        display: none;
      }
      header .mobile {
        display: block;
      } 
    }

@media (max-width: 1020px) {

  header .btn-menu-hamburger, .btn-call {
    display: block;
  }

}    

  
