/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  background-color: #000;
  height: 100vh;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*Header*/
header{
  padding: 40px 4%;
}
header a {
  color: #7d7d7d;
  text-decoration: none;
  display: inline-block;
}
header a:hover {
  color: #fff;
  text-decoration: none;
  transform: scale(1.05);
  transition: .2s;
}
header nav ul{
  list-style-type: none;
}
header nav ul li{
  display: inline-block;
  padding: 0 40px;
}
header .btn-contato button{
padding: 10px 40px;
font-size: 16px;
font-weight: 600;
background-color: #00ff08;
color: #000;
border: 0;
border-radius: 4px;
cursor: pointer;
}
/*Main*/

/*Footer*/

